@font-face {
    font-family: 'Brannboll';
    src: url(fonts/brannboll/BrannbollFet.ttf);
}

@font-face {
    font-family: 'Cinnabar Brush';
    src: url(fonts/dk-cinnabar-brush/DKCinnabarBrush.ttf);
}

body {
    font-family: 'Raleway', sans-serif;
}

header {
    background: white;
    position: fixed;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid gray;
    z-index: 10;
    top: 0;
}

header a {
    color: black;
    display: inline-block;
}

#page-title {
    font-weight: 100;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    font-size: 32px;
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
}

#mobile-page-title {
    width: 100%;
    position: absolute;
    left: 0;
}

#mobile-page-title img {
    margin: 0 auto;
    height: 24px;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    #page-title {
        font-size: 22px;
        margin-top: 4px;
    }
}

#page-title a:hover {
    color: unset;
    text-decoration: none;
}

#social-media, #search {
    padding-top: 6px;
}

#social-media {
    float: left;
    font-size: 16px;
    z-index: 10;
    position: relative;
}

#social-media .fab {
    margin-right: 10px;
}

#social-media a:hover {
    color: gray;
}

#search {
    float: right;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 22px;
    right: 30px;
}

.titelbild {
    width: 100%;
    height: 600px;
    /* Parallax Effekt */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-weight: 100;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-size: 28px;
    display: block;
    text-align: center; 
    width: 100%;
}

.fancy-title .text {
    font-family: 'Dancing Script';
    font-size: 34px;
    font-weight: 700;
}

.fancy-title {
    text-align: center;
    width: 100%;
    position: relative;
}

.bg-pastel-yellow .container,
.bg-pastel-green .container,
.bg-pastel-brown .container {
    padding-top: 30px;
}

#recipies .row:not(.recipe-meta), #tips .row {
    padding: 20px 0;
}

.bg-pastel-yellow {
    background-color: #fcfaed;
}

.bg-pastel-green {
    background-color: #eff7ef;
}

.bg-pastel-brown {
    background-color: #fcfaed;
}

.line {
    border-bottom: 2px solid black;
    position: absolute;
    top: 23px;
}

#recipies .line {
    width: calc(50% - 100px);
}

#index-recipies .line {
    width: calc(50% - 70px);
}

#tips .line {
    width: calc(50% - 80px);
}

.line.line-right {
    right: 0;
}

#menu {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 70px;
    background-color: white;
    opacity: 0.7;
    padding-top: 0;
    padding-bottom: 0;
}

#menu .navbar-nav {
    margin: 0 auto;
}

.navbar a.nav-link:hover {
    color: gray;
}

.navbar a.nav-link {
    color: black;
    margin: 0 20px;
}

#menu a.nav-link {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.card .recipe-thumbnail {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -moz-border-radius: 0px;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.card {
    margin-bottom: 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#submenu {
    width: 100%;
    height: 474px;
    position: absolute;
    background-color: white;
    top: 114px;
    display: none;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

#submenu .navbar {
    padding-left: 0;
    padding-right: 0;
}

#submenu .navbar-nav {
    width: 100%;
}

#submenu .subsubmenu {
    display: none;
}

#menu .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
}

#recipe-titelbild {
    text-align: center;
    color: white;
    padding-top: 280px;
    background-image: url('img/rezepte-indonesien.jpg');
}

#recipe-titelbild h1 {
    font-family: 'Cinnabar Brush';
    font-size: 16vw;
}

#recipe-subbild {
    width: 100%;
    height: 600px;
    background-image: url('img/nasigoreng.jpg');
    /* Parallax Effekt */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#recipe-header-content {
    margin-top: -40px;
    padding: 26px;
    background: #F9F8F5;
    max-width: 600px;
}

#recipe-header-content .float-right div:first-child {
    margin-bottom: 8px;
}
#recipe-header-content .float-right div span {
    margin-left: 4px;
}

#recipe-header + .container {
    margin-top: 30px;
}

h3 {
    font-size: 22px;
}

.icon {
    height: 22px;
    margin-left: -3px;
}

.inline-icon-spoon {
    height: 22px;
    width: 6px;
    margin-left: -2px;
}

.recipe-meta {
    font-size: 14px;
}

.recipe-meta .float-right span {
    padding-right: 10px;
}

video {
    width: 100%;
    height: auto;
}

#submenu li {
    list-style-type: none;
}

#submenu .col-4 {
    height: 100%;
}

#submenu .row {
    height: 100%;
}

#submenu .container {
    height: 100%;
}

#submenu-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.ingredients tr td:first-child {
    width: 100px;
}

.ingredients td {
    padding: 8px 0;
}

#recipe-header-content h2 {
    font-size: 32px;
}

#portions {
    width: 100%;
    border: 1px solid gray;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#portions > span {
    width: 100%;
    text-align: center;
    display: block;
    padding: 10px;
}

#portions .btn {
    margin-top: 4px;
    cursor: pointer;
}

#portions .btn-minus {
    float: left;
}

#portions .btn-plus {
    float: right;
}

footer {
    padding: 16px;
}

footer a {
    margin: 0 16px;
}

footer a, footer .fab {
    color: black;
}

footer a:hover, footer .fab:hover {
    color: gray;
    text-decoration: none;
}

#footer-logo {
    text-align: center;
}

#footer-logo img {
    width: 40px;
}

#footer-social-media {
    margin-bottom: 16px;
}

#footer-copyright {
    text-align: center;
    font-size: 10px
}

#weltrundreise .card video {
    border-radius: 5px;
}

#weltrundreise .card a {
    line-height: 0;
}

#recipies a, #index-recipies a {
    text-decoration: unset;
    color: unset;
}

#recipies a:hover, #index-recipies a:hover {
    color: gray;
}

#recipe-content ol {
   list-style: none;
   counter-reset: item;
}

#recipe-content li {
    counter-increment: item;
    margin-bottom: 5px;
    border: none;
    box-shadow: 0px 24px 1px -24px gray;
    margin-left: -1.2em;
}

#recipe-content li:before {
    margin-right: 10px;
    content: counter(item);
    background: #D0E08D;
    border-radius: 100%;
    color: white;
    width: 24px;
    text-align: center;
    display: inline-block;
}

.container {
    max-width: calc(100% - 60px);
}

#recipe-content .row > .col-md-8 {
    margin-bottom: 30px;
}

@media (min-width: 1200px) {
    #recipe-content .row > .col-md-8 {
        padding-right: 50px;
    }

    #recipe-content iframe {
        padding-right: 24px;
    }
}

#search input {
    border: none;
    padding-right: 25px;
    cursor: pointer;
    width: 0;
    position: absolute;
    top: 0;
    right: 15px;
    outline: none;
    z-index: 3;
    background: none;
}

@media only screen and (min-width: 968px) {
    #search input {
        -webkit-transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
        transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
    }

    #search input:focus {
        width: 232px;
        z-index: 1 !important;
        border-bottom: 1px solid #BBB !important;
        cursor: text !important;
    }
}

#search i {
    display: inline-block;
    border: none;
    position: absolute;
    right: 15px;
    cursor: pointer;
    z-index: 2;
}
