@font-face {
  font-family: 'Brannboll';
  src: url(fonts/brannboll/BrannbollFet.ttf);
}

body {
    font-family: 'Raleway', sans-serif;
}

header {
    background: white;
    position: fixed;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid gray;
    z-index: 10;
    top: 0;
}

header a {
    color: black;
    display: inline-block;
}

#page-title {
    font-weight: 100;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    font-size: 32px;
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
}

@media only screen and (max-width: 767px) {
    #page-title {
        font-size: 22px;
        margin-top: 4px;
    }
}

#page-title a:hover {
    color: unset;
    text-decoration: none;
}

#social-media, #search {
    padding-top: 6px;
}

#social-media {
    float: left;
    font-size: 16px;
    z-index: 10;
    position: relative;
}

#social-media .fab {
    margin-right: 10px;
}

#social-media a:hover {
    color: gray;
}

#search {
    float: right;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

#search:hover {
    color: gray;
}

#titelbild {
    width: 100%;
    height: 600px;
    background-image: url('img/titelbild.jpg');
    /* Parallax Effekt */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-weight: 100;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-size: 28px;
    display: block;
    text-align: center; 
    width: 100%;
}

.fancy-title .text {
    font-family: 'Dancing Script';
    font-size: 34px;
    font-weight: 700;
}

.fancy-title {
    text-align: center;
    width: 100%;
    position: relative;
}

.content {
    padding: 30px 0;
}

#recipies .row, #tips .row {
    padding: 20px 0;
}

.bg-pastel-yellow {
    background-color: #fcfaed;
}

.bg-pastel-green {
    background-color: #eff7ef;
}

.bg-pastel-brown {
    background-color: #fcfaed; /*#fcf6ef*/
}

.line {
    border-bottom: 2px solid black;
    position: absolute;
    top: 23px;
}

#recipies .line {
    width: calc(50% - 120px);
}

#tips .line {
    width: calc(50% - 80px);
}

.line.line-right { /* beide Klassen müssen das gleichzeitig haben */
    right: 0;
}

#menu {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 70px;
    background-color: white;
    opacity: 0.7;
    padding-top: 0;
    padding-bottom: 0;
}

#menu .navbar-nav {
    margin: 0 auto;
}

.navbar a.nav-link:hover {
    color: gray;
}

.navbar a.nav-link {
    color: black;
    margin: 0 20px; /* Das erste ist Höhe und das zweite der Zeilenabstand zwischen den Wörtern */
}

#menu a.nav-link {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.card .recipe-thumbnail {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -moz-border-radius: 0px;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#kulinarisch-titelbild {
    width: 100%;
    height: 600px;
    background-image: url('img/kulinarisch.jpg');
    /* Parallax Effekt */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    margin-bottom: 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#submenu {
    width: 100%;
    height: 474px;
    position: absolute;
    background-color: white;
    top: 114px;
    display: none;
    padding-left: 0;
    padding-right: 0;
}

#submenu .navbar {
    padding-left: 0;
    padding-right: 0;
}

#submenu .navbar-nav {
    width: 100%;
}

#submenu .subsubmenu {
    display: none;
}

#menu .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
}

#recipe-titelbild {
    width: 100%;
    height: 600px;
    background-image: url('img/rezept-titelbild.png');
    /* Parallax Effekt */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#recipe-subbild {
    width: 100%;
    height: 600px;
    background-image: url('img/nasigoreng.jpg');
    /* Parallax Effekt */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#recipe-header-content {
    margin-top: -40px;
    padding: 26px;
    background: #F9F8F5;
    max-width: 600px;
}

#recipe-header + .container {
    margin-top: 30px;
}

h3 {
    font-size: 22px;
}

.recipe-meta svg {
    height: 20px;
    width: 20px;
}

.inline-icon-clock {
    fill: #add47b;
}

.inline-icon-spoon {
    height: 22px;
    width: 6px;
    margin-left: -2px;
    fill: #add47b;
}

.recipe-meta {
    font-size: 14px;
}

video {
    width: 100%;
    height: auto;
}

#submenu li {
    list-style-type: none;
}

#submenu .col-4 {
    height: 100%;
}

#submenu .row {
    height: 100%;
}

#submenu .container {
    height: 100%;
}

#submenu-img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.ingredients tr td:first-child {
    width: 100px;
}

.ingredients td {
    padding: 8px 0;
}

#recipe-header-content h2 {
    font-size: 32px;
}

#portions {
    width: 100%;
    border: 1px solid gray;
    border-radius: 6px;
    margin-top: 10px;
}

#portions > span {
    width: 100%;
    text-align: center;
    display: block;
    padding: 10px;
}

#portions .btn {
    margin-top: 4px;
    cursor: pointer;
}

#portions .btn-minus {
    float: left;
}

#portions .btn-plus {
    float: right;
}

footer {
    padding: 16px;
}

footer a {
    margin: 0 16px;
}

footer a, footer .fab {
    color: black;
}

footer a:hover, footer .fab:hover {
    color: gray;
    text-decoration: none;
}

#footer-logo {
    text-align: center;
}

#footer-logo img {
    width: 40px;
}

#footer-social-media {
    margin-bottom: 16px;
}

#footer-copyright {
    text-align: center;
    font-size: 10px
}